<form method="POST" action="/songs/<%= @song.slug %>/edit">
  New Artist: <input type="text" name="song[artist][name]" id="Artist Name" id="artist_name">
  <!-- New Song Name: <input type="text" name="song_name" id="Song Name"> -->
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="song[genre][names][]" value="<%= genre.name %>"><%= genre.name %></input>
  <% end %>
  <input type="submit" id="Save">
</form>
<% if flash[:message] %>
  <%= flash[:message] %>
  <%= @song.name %>
  <%= @song.artist.name %>
<% end %>
