<form method="POST" action="/songs/<%= @song.slug %>/edit">
  New Artist: <input type="text" name="artist_name" id="Artist Name">
  <!-- New Song Name: <input type="text" name="song_name" id="Song Name"> -->
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="<%= genre.name %>" value="<%= genre.id %>" id="<%= genre.name %>"><%= genre.name %></input>
  <% end %>
  <input type="submit" id="Save">
</form>
<% if flash[:message] %>
  <%= flash[:message] %>
  <%= @song.name %>
  <%= @song.artist.name %>
<% end %>
